.contact-list li:hover {
  background: rgba(87, 10, 87, 0.5);
  padding: 12px 24px;
  border: 3px solid var(--cor-1);
  border-radius: 16px;
}

.contact-list {
  gap: 48px;
}

.contact-list li {
  gap: 16px;
}

#social-media {
  gap: 44px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#social-media li {
  position: relative;
  transition: background-color 0.3s;
}

#social-media li:hover::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  background: #a91079;
  border-radius: 50%;
  z-index: -1;
}

@media (max-width: 599px) {
  .contact-list {
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  aside .container-flex {
    margin-bottom: 0px;
    justify-content: start;
  }

  .contact-list li:hover {
    background: none;
    padding: 0;
    border: none;
  }
}
