.subtitle {
  color: var(--cor-2);
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.font-large {
  font: 700 3rem "Poppins", sans-serif;
}

:root {
  --cor-0: #ffffff;
  --cor-1: #a91079;
  --cor-2: #2e0249;
}

.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

/* atributos globais */

body {
  background-color: var(--cor-2);
  margin: 0 auto;
  font: 400 1.25rem "Poppins", sans-serif;
  max-width: 90rem;
  height: 100dvh;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--cor-0);
  
}

h1 {
  max-width: 13ch;
}

main {
  background: white;
  padding: 3rem;
  border-radius: 1.5rem;
  grid-template-columns: 1fr;
}

span {
  display: none; 
  color: red;
  position: absolute;
  font-size: .85rem;
}
input {
  position: relative;
}
.span-checkbox {
  top: 18.125rem;
  }
.span-name {
top: 25rem;
}
.span-email {
top: 31.875rem;
}
.span-message {
top: 38.75rem;
}

/* containers */
.container-1fr {
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-between;
}

.container-2fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  gap: 3rem;
  max-width: 90rem;
}

.container-flex {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 4rem;
}

.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3.75rem;
}

aside .container-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.625rem;
  padding: 0;
  background-color: transparent;
  transition: padding 0.3s, background-color 0.3s;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

form .flex-column {
  align-content: space-between;
}

@media (max-width: 64rem) {
  .subtitle {
    font-size: 1.5rem;
  }
  .container-2fr {
    padding: 2.25rem;
    gap: 3rem;
    margin: 0 auto;  
  }
  .flex-column {
    gap: 3.5rem;
  }
}

@media (max-width: 48rem) {
  body {
    font-size: 2rem;
  }

  .container-2fr {
    grid-template-columns: 1fr;
    padding: 2.25rem;
    gap: 1.5rem;
    margin: 0 auto;  
  }

  .container-flex {
    justify-self: center;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2.25rem;
  }
  .flex-column {
    gap: 3rem;
  }
  .font-large {
    font-size: 3rem;
    line-height: 3.25rem;
  }
  h1 {
    max-width: 20ch;
    margin-bottom: 2rem;
  }
  .subtitle {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  main {
    padding: 2rem;
  }
  a {
    font-size: 1.25rem;
  }
}

@media (max-width: 30rem) {
  .container-1fr {
    margin: 0;
  }
  aside  {

    padding: 24px 0 0 24px;
  }
  .container-2fr {
    padding: 0;
    
  }
  main {
    padding: 1.25rem;
    border-radius: 0;

  }
  .container-flex {
    gap: .85rem;
    margin-bottom: 2rem;
  }
  .flex-column {
    gap: 1.5rem;
  }
  .subtitle {
    font-size: 1.15rem;
    text-align: center;
  }
  .span-checkbox {
    top: 655px;
    }
  .span-name {
  top: 728px;
  }
  .span-email {
  top: 798px;
  }
  .span-message {
  top: 865px;
  }
}

@media (max-width: 330px) {
  .font-large {
    font-size: 2.25rem;
}
a{
  font-size: 1rem;

}
  .container-flex {
    gap: .5rem;
    margin-bottom: 2rem;
  }
  .span-checkbox {
    top: 510px;
    }
  .span-name {
  top: 750px;
  }
  .span-email {
  top: 815px;
  }
  .span-message {
  top: 885px;
  }
}